#content-gallery {
  background: black;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "header header header header header" ". . . . ." "pic pic pic pic pic" ". . . . ." "footer footer footer footer footer";
}

#pic-gallery {
  width: 100%;
  grid-area: pic;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 250px;
  grid-row-gap: 50px;
  grid-template-areas:
    ". i1 . i2 ."
    "i3 . i4 . i5"
    ". i6 . i7 . ";
}

.img-box img {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 5px solid white;
}

.img-box h2 {
  width: 100%;
  text-align: center;
  background-color: white;
  margin: 0;
  border: 5px solid white;
  color: black;
}

.img-box p {
  display: none;
}

#i1 {
  grid-area: i1;
}

#i2 {
  grid-area: i2;
}

#i3 {
  grid-area: i3;
}

#i4 {
  grid-area: i4;
}

#i5 {
  grid-area: i5;
}

#i6 {
  grid-area: i6;
}

#i7 {
  grid-area: i7;
}

.img-box:hover {
  cursor: pointer;
  animation: grow 0.5s forwards;
}
.img-box:hover h2 {
  cursor: pointer;
}
@keyframes grow {
  100% {
    transform: scale(1.1);
  }
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0, 0.8); /* Fallback color */
  color: white;
}

.modal img {
  grid-column: 2/6;
  width: 100%;
}

.modal h2 {
  grid-column: 7/12;
}

.modal p {
  grid-column: 7/12;
}

.modal button {
  position: fixed;
  float: right;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
}

.modal i:hover {
  cursor: pointer;
}

.modal:hover {
  cursor: pointer;
}

.block-dis {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 50px;
  animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body.modal-open {
  overflow: hidden;
}
