.nav-logo {
    height: 80px;
    padding-left: 20px;
}

.nav-left {
    flex: 0.5;
}

.nav-right {
    flex: 0.5;
}

.hidden {
    visibility: hidden;
}

.starterchng {
    animation: diagonal 3s;
}

#starter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@keyframes diagonal {
    0% {
        transform: translatex(0px) translatey(0px);
        width: 90%;
    }
    100% {
        transform: translatex(-100px) translatey(-100px);
        width: 25%;
    }
}

body {
    height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, black, rgb(90, 5, 5), black);
    margin: 0;
}

nav {
    background: linear-gradient(black);
    border-radius: 6px;
    height: 20%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
    color: white;
    padding: 1.2rem !important;
    border: 1px solid white;
    border-radius: 5px;
}