.bubble {
    max-width: 30px;
    margin-left: auto;
    background: rgb(236, 236, 236, 0.3);
    padding: 20px;
    color: #fff;
    font-family: arial;
    font-size: 0;
    border: 2px;
    border-radius: 5px;
    height: 30px;
    align-self: flex-start;
}

.bubble.active {
    text-align: center;
    font-weight: 100;
    font-size: 3vh;
    min-height: 80vh;
    max-width: 80%;
}

.roww {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tri {
    width: 0px;
    height: 0px;
    border-left: 15px solid rgb(236, 236, 236, 0.3);
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin-top:1vh;
}

.mainbody {
    height: 80%;
    margin:0 3vw 5vh 3vw;
    background: rgb(236, 236, 236, 0.3);
}

.nav-logo {
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;
}

.nav-left {
    flex: 0.5;
}

.nav-right {
    flex: 0.5;
}

.hiddenav {
    visibility: hidden;
}

.hidden {
    display: none;
}

.starterchng {
    animation: diagonal 1.5s;
}

.road {
    height: 100vh;
    width: 6vw;
    background: #00001a;
    border-left: 0.5vw solid white;
    border-right: 0.5vw solid white;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    opacity:1;
    box-shadow: 2px 2px 2px 2px black;
}
.car{
    /* background-color:#CF0F0F; */
    width:8vw;
    height:auto;
    position: fixed;
    right:4.5vw;
    top:5.5vh;
    display: none;
} 
.startpos{
    margin-left:84vw;
    background-color: red;
    width:6vw;
    height:30vh;
}
.startimg{
    width:8vw;
}
.marginr {
    margin-right: 5vw;
}

.crossline {
    width: 0.5vw;
    height: 12vh;
    margin-left: 2.5vw;
    margin-top: 10vh;
    background: #fff;
}

/* .car {
    position: fixed;
    height: 10vh;
    width: 5vw;
    top: 5.5vh;
    right: 5.5vw;
    /* background: red;
    visibility: hidden;
    align-self: flex-end;
} */

.start {
display:block;
}


/* #f1car {
    width: 50%;
} */

#starter {
    text-align: center;
    color: white;
    position: absolute;
}

#starter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#starter h4 {
    font-weight: 1000;
}

@keyframes diagonal {
    0% {
        transform: translatex(0px) translatey(0px);
        width: 100%;
    }
    100% {
        transform: translatex(-220px) translatey(-90px);
        width: 50%;
    }
}

body {
    height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, black, rgb(90, 5, 5), black);
    margin: 0;
}

nav {
    background: linear-gradient(black);
    border-radius: 6px;
    height: 20%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
    color: white;
    padding: 1rem !important;
    border: 1px solid white;
    border-radius: 5px;
}
.container{
    width:100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.leftcol{
    width:80vw;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.content{
    width:70vw;
    height:80vh;
    background-color: white;
    margin-top:10vh;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}


.centerline{
    width:15%;
    background-color: white;
    height:10vh;
    margin-bottom:10vh;
}
