.bubble {
    width: 1000px;
    margin: 50px auto;
    background: rgb(236, 236, 236, 0.3);
    padding: 20px;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-family: arial;
    position: relative;
    border: 2px;
    border-radius: 5px;
}

.tri:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(236, 236, 236, 0.3);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
}

.nav-logo {
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;
}

.nav-left {
    flex: 0.5;
}

.nav-right {
    flex: 0.5;
}

.hidden {
    visibility: hidden;
}

.starterchng {
    animation: diagonal 1.5s;
}

#road {
    height: 100%;
    width: 50px;
    float: right;
    background: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#starter {
    text-align: center;
    color: white;
    position: absolute;
}

#starter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#starter h4 {
    font-weight: 1000;
}

@keyframes diagonal {
    0% {
        transform: translatex(0px) translatey(0px);
        width: 100%;
    }
    100% {
        transform: translatex(-220px) translatey(-90px);
        width: 50%;
    }
}

body {
    height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, black, rgb(90, 5, 5), black);
    margin: 0;
}

nav {
    background: linear-gradient(black);
    border-radius: 6px;
    height: 20%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
    color: white;
    padding: 1.2rem !important;
    border: 1px solid white;
    border-radius: 5px;
}