@media only screen and (max-width: 768px) {
  #content {
    background: black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header header header"
      "about-us about-us about-us about-us about-us"
      ". . . . ."
      "misvis misvis misvis misvis misvis"
      ". . . . ."
      "mentors mentors mentors mentors mentors"
      ". . . . ."
      ". . . . ."
      ". . . . ."
      "cet cet cet cet cet"
      ". . . . ."
      "footer footer footer footer footer";
  }

  #content #theteam {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px min-content min-content min-content min-content
      min-content min-content;
    grid-template-areas: "navlogo1 navlogo2 . . icon";
    background: #500;
    color: white;
    align-items: center;
    animation: fade-up 0.5s;
  }

  .active {
    background: black;
    grid-gap: 2px;
    grid-template-areas:
      "navlogo1 navlogo2 . . icon"
      "index index index index index"
      "about about about about about"
      "gallery gallery gallery gallery gallery"
      "events events events events events"
      "team team team team team"
      "contact contact contact contact contact";
    animation: fade-down 0.5s;
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .active .nav-link {
    display: block;
    width: 94%;
    background: #500;
  }

  .nav-link {
    display: none;
  }

  .nav-icon {
    font-size: 1.5rem;
    display: block;
    grid-area: icon;
    justify-self: center;
  }

  .bubble {
    margin: 0px;
    padding: 25px;
  }

  .bubble-content {
    font-size: 1rem;
  }
  #mentorcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "men1"
      "."
      "men2"
      "."
      "men3"
      "."
      "men4";
  }

  #content-team {
    background: black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header header header"
      "theteam theteam theteam theteam theteam"
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      "rot rot rot rot rot"
      ". . . . ."
      "footer footer footer footer footer";
  }

  #teambox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "mem1"
      "."
      "mem2"
      "."
      "mem3"
      "."
      "mem4"
      "."
      "mem5"
      ".";
  }

  .memberpos,
  .memberphone {
    display: block;
  }

  .memberdeets {
    margin-top: -100px;
  }

  #rest-of-the-team {
    display: grid;
    grid-area: rot;
    grid-auto-rows: 65px;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2px;
    color: white;
  }

  #rot-header {
    grid-row: 1/2;
    grid-column: 2/12;
    padding-left: 45px;
  }

  .rot-mem {
    grid-column: 2/12;
  }
  .vertical-rule {
    display: none;
  }

  footer {
    height: 200px;
  }

  #pic-gallery {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      ". i1 i1 i1 i1 i1 i1 i1 i1 i1 i1 ."
      ". . . . . . . . . . . ."
      ". i2 i2 i2 i2 i2 i2 i2 i2 i2 i2 ."
      ". . . . . . . . . . . ."
      ". i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 ."
      ". . . . . . . . . . . ."
      ". i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 ."
      ". . . . . . . . . . . ."
      ". i5 i5 i5 i5 i5 i5 i5 i5 i5 i5 ."
      ". . . . . . . . . . . ."
      ". i6 i6 i6 i6 i6 i6 i6 i6 i6 i6 ."
      ". . . . . . . . . . . ."
      ". i7 i7 i7 i7 i7 i7 i7 i7 i7 i7 .";
  }

  #starter {
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      "s1 s1 s1 s1 s1"
      "s2 s2 s2 s2 s2"
      ". s3 s3 s3 ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      "s4 s4 s4 s4 s4"
      ". . . . ."
      ". . . . ."
      ". . . . .";
  }

  #starter-logo {
    width: 75%;
  }

  #institution {
    font-size: 0.6rem;
  }

  .block-dis {
    grid-auto-rows: max-content;
  }

  .modal {
    overflow-y: scroll;
  }

  .modal img {
    grid-column: 2/12;
    grid-row: 1/2;
    width: 100%;
  }

  .modal h2 {
    grid-column: 2/12;
    grid-row: 2/3;
  }

  .modal p {
    grid-column: 2/12;
    grid-row: 3/4;
  }

  #back-to-top {
    right: -35px;
  }
}
